@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,700;1,700&display=swap");

.auth {
  --custom-font-family: Rubik, sans-serif;
  --custom-bg-color: #222831;
  --custom-panel-color: #222;
  --custom-box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.8);
  --custom-color: #fff;
  --custom-color-brand: #24b47e;
  --custom-color-secondary: #666;
  --custom-border: 1px solid #333;
  --custom-border-radius: 5px;
  --custom-spacing: 5px;

  padding: 0;
  margin: 0;
  font-family: var(--custom-font-family);
  background-color: var(--custom-bg-color);

  color: var(--custom-color);
  font-family: var(--custom-font-family);
  box-sizing: border-box;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

/* html {
  zoom: 0.8;
} */

* {
  box-sizing: border-box;
  font-family: "Rubik";
}

::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #222831;
}

::-webkit-scrollbar-thumb:hover {
  background: #4e53b2;
}

/* html {
  zoom: 0.8;
} */

html,
body,
#root,
.container,
.Dashboard {
  --custom-font-family: Rubik, sans-serif;
  --custom-bg-color: #1c1c1c;
  --custom-panel-color: #222;
  --custom-box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.8);
  --custom-color: #fff;
  --custom-color-brand: #24b47e;
  --custom-color-secondary: #666;
  --custom-border: 1px solid #333;
  --custom-border-radius: 5px;
  --custom-spacing: 5px;
  --color-panel-li: #343434;

  /* --primary: #222831;
  --secondary: #393e46;
  --tertiary: #da0037; */

  /* --primary: #101010;
  --secondary: #3e3e3e;
  --tertiary: #24b47e; */

  --primary: #222831;
  --secondary: #393e46;
  --tertiary: #24b47e;
  --svgFill: #24b47e;
  /* --primary: #1b262c;
  --secondary: #393e46;
  --tertiary: #24b47e;
  --svgFill: #24b47e; */

  margin: 0;
  width: 100%;
  height: 100%;
  /* display: flex; */
  overflow-x: hidden;
  position: relative;
  color: white;
  background-color: var(--primary);
  /* background-color: #222831; */
  transition: all 0.4s;
}

.c-egTDuJ-iwjZXY-color-default:hover {
  box-shadow: 3px 3px var(--tertiary);
  transition: all 0.4s;
}

.light .container,
.light .Dashboard {
  background-color: #edebf8;
}

.Dashboard {
  overflow: hidden;
}

textarea {
  outline: none;
  border: none;
}
textarea:focus {
  border-color: transparent !important;
}

input:focus {
  border-color: transparent !important;
}
input:focus::-webkit-input-placeholder,
input:focus:-moz-placeholder,
input:focus::-moz-placeholder,
input:focus:-ms-input-placeholder {
  color: transparent;
}

textarea:focus::-webkit-input-placeholder,
textarea:focus:-moz-placeholder,
textarea:focus::-moz-placeholder,
textarea:focus:-ms-input-placeholder {
  color: transparent;
}

input::-webkit-input-placeholder,
input:-moz-placeholder,
input::-moz-placeholder,
input:-ms-input-placeholder {
  color: #999999;
}

textarea::-webkit-input-placeholder,
textarea:-moz-placeholder,
textarea::-moz-placeholder,
textarea:-ms-input-placeholder {
  color: #999999;
}

a {
  text-decoration: none;
  margin: 0;
}

ul {
  list-style-type: none;
}

.loader-background {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.light .loader-background {
  background-color: #edebf8;
}

h1 {
  font-size: calc(33px + 14 * ((100vw - 350px) / 1250));
}
@media screen and (max-width: 350px) {
  h1 {
    font-size: 33px;
  }
}
@media screen and (min-width: 1600px) {
  h1 {
    font-size: 47px;
  }
}

h2 {
  font-size: calc(20px + 12 * ((100vw - 350px) / 1250));
}
@media screen and (max-width: 350px) {
  h2 {
    font-size: 20px;
  }
}
@media screen and (min-width: 1600px) {
  h2 {
    font-size: 32px;
  }
}

h3 {
  font-size: calc(15px + 3 * ((100vw - 350px) / 650));
}
@media screen and (max-width: 350px) {
  h3 {
    font-size: 15px;
  }
}
@media screen and (min-width: 1000px) {
  h3 {
    font-size: 18px;
  }
}

h4 {
  font-size: calc(10px + 3 * ((100vw - 350px) / 1150));
}
@media screen and (max-width: 350px) {
  h4 {
    font-size: 10px;
  }
}
@media screen and (min-width: 1500px) {
  h4 {
    font-size: 13px;
  }
}

h5 {
  font-size: calc(8px + 3 * ((100vw - 350px) / 1150));
}
@media screen and (max-width: 350px) {
  h5 {
    font-size: 8px;
  }
}
@media screen and (min-width: 1500px) {
  h5 {
    font-size: 11px;
  }
}

h6 {
  font-size: calc(7px + 3 * ((100vw - 350px) / 1150));
}
@media screen and (max-width: 350px) {
  h6 {
    font-size: 7px;
  }
}
@media screen and (min-width: 1500px) {
  h6 {
    font-size: 10px;
  }
}

p {
  font-size: calc(9px + 3 * ((100vw - 350px) / 1150));
}
@media screen and (max-width: 350px) {
  p {
    font-size: 9px;
  }
}
@media screen and (min-width: 1500px) {
  p {
    font-size: 12px;
  }
}

h1,
h2,
h3 {
  color: #fefdff;
}

.light h1,
.light h2,
.light h3 {
  color: #3a1414;
}

.page404 {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.page404 a {
  color: #222831;
}
.page404 h1 {
  font-size: calc(30px + 22 * ((100vw - 350px) / 1250));
  margin: 0;
}
@media screen and (max-width: 350px) {
  .page404 h1 {
    font-size: 30px;
  }
}
@media screen and (min-width: 1600px) {
  .page404 h1 {
    font-size: 52px;
  }
}

input {
  outline: none;
  border: none;
}

/*--------------------------------------------- */
button {
  outline: none !important;
  border: none;
  background: transparent;
}
button:hover {
  cursor: pointer;
}

iframe {
  border: none !important;
}

/* */
.txt1 {
  font-size: 14px;
  line-height: 1.5;
  color: white;
  align-self: center;
  cursor: pointer;
}

.txt2 {
  font-size: 15px;
  line-height: 1.5;
  color: white;
  margin-top: 30px;
}
.txt2 .link {
  cursor: pointer;
}

.error {
  color: "#eb5887";
}

/* */
.limiter {
  width: 100%;
  margin: 0 auto;
}

.container-register {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background: #222831;
  flex-direction: column;
}

.wrap-register {
  border: solid 1px #ddd;
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.12);
  background: #30475e;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-self: center;
  padding: 30px 100px;
  align-items: center;
}
@media only screen and (max-width: 960px) {
  .wrap-register {
    width: 100%;
  }
}
@media only screen and (max-width: 760px) {
  .wrap-register {
    padding: 20px 20px;
  }
}

.register-pic {
  width: 206px;
}
.register-pic img {
  max-width: 100%;
}

.register-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 290px;
}

.register-form-title {
  font-size: 24px;
  color: white;
  line-height: 1.2;
  text-align: center;
  font-weight: 800;
  width: 100%;
  display: block;
  padding-bottom: 24px;
}

.wrap-input {
  position: relative;
  width: 100%;
  z-index: 1;
  margin-bottom: 10px;
}

.input {
  font-size: 15px;
  line-height: 1.5;
  color: white;
  display: block;
  width: 100%;
  background: #515268;
  height: 50px;
  border-radius: 5px;
  padding: 0 30px 0 30px;
}

.focus-input {
  display: block;
  position: absolute;
  border-radius: 25px;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  box-shadow: 0px 0px 0px 0px;
  color: #dddddd;
}

.input:focus + .focus-input {
  -webkit-animation: anim-shadow 0.5s ease-in-out forwards;
  animation: anim-shadow 0.5s ease-in-out forwards;
}

@-webkit-keyframes anim-shadow {
  to {
    box-shadow: 0px 0px 70px 25px;
    opacity: 0;
  }
}

@keyframes anim-shadow {
  to {
    box-shadow: 0px 0px 70px 25px;
    opacity: 0;
  }
}

.container-register-form-btn {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 20px;
}

.register-form-btn {
  font-size: 15px;
  line-height: 1.5;
  color: #fff;
  background: #222831;
  text-transform: uppercase;
  width: 100%;
  height: 50px;
  border-radius: 5px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 25px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}
.register-form-btn:hover {
  box-shadow: 3px 3px #ddd;
}

.text-center {
  margin-top: 20px;
}

@media (max-width: 992px) {
  .register-pic {
    width: 35%;
  }
  .register-form {
    width: 50%;
  }
}

@media (max-width: 768px) {
  .register-pic {
    display: none;
  }
  .register-form {
    width: 100%;
  }
}

.loader {
  z-index: 3;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 50%;
  margin-top: -30px;
  width: 60px;
  padding: 0;
  height: 60px;
  list-style: none;
  box-sizing: content-box;
  position: absolute;
}

@keyframes loadbars {
  0% {
    height: 10px;
    margin-top: 25px;
  }
  50% {
    height: 50px;
    margin-top: 0px;
  }
  100% {
    height: 10px;
    margin-top: 25px;
  }
}

.loader li {
  background-color: "#ddd";
  width: 10px;
  height: 10px;
  float: right;
  margin-right: 5px;
  box-shadow: 0px 80px 20px rgba(0, 0, 0, 0.3);
}
.loader li:first-child {
  -webkit-animation: loadbars 0.6s cubic-bezier(0.645, 0.045, 0.355, 1) infinite
    0s;
  animation: loadbars 0.6s cubic-bezier(0.645, 0.045, 0.355, 1) infinite 0s;
}
.loader li:nth-child(2) {
  -webkit-animation: loadbars 0.6s ease-in-out infinite -0.2s;
  animation: loadbars 0.6s ease-in-out infinite -0.2s;
}
.loader li:nth-child(3) {
  -webkit-animation: loadbars 0.6s ease-in-out infinite -0.4s;
  animation: loadbars 0.6s ease-in-out infinite -0.4s;
}

a {
  color: white;
}

@keyframes show-popup {
  0% {
    -webkit-transform: translate(-50%, -50%) scale(0.7);
    transform: translate(-50%, -50%) scale(0.7);
    opacity: 0;
  }
  45% {
    -webkit-transform: translate(-50%, -50%) scale(1.05);
    transform: translate(-50%, -50%) scale(1.05);
    opacity: 1;
  }
  80% {
    -webkit-transform: translate(-50%, -50%) scale(0.95);
    transform: translate(-50%, -50%) scale(0.95);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1);
  }
}

.alertMessage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 50;
  width: 60%;
  background-color: #222831;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20%;
  min-height: 250px;
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.27);
  flex-direction: column;
  text-align: center;
  padding: 50px;
  animation: show-popup 0.3s;
}
.alertMessage h2 {
  margin-bottom: 10px;
}
.alertMessage p {
  margin-bottom: 50px;
}
.alertMessage .alertMessage__button {
  background: #222831;
  padding: 15px 40px;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  transition: all 0.4s;
}
.alertMessage .alertMessage__button:hover {
  box-shadow: 0px 0px 15px 0px #222831;
}

.leftbar {
  position: relative;
  background-color: var(--primary);
  /* background-color: #222831; */
  width: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 10px;
  transition: all 0.4s;
  min-width: 50px;
  height: 100vh;
}
.leftbar__logo {
  width: 5%;
  min-width: 40px;
  position: absolute;
  top: 30px;
  fill: var(--svgFill);
}
@media only screen and (max-width: 600px) {
  .leftbar {
    display: none;
  }
}
.leftbar a {
  margin-bottom: 50px;
}
.leftbar .leftbar__log {
  fill: #dddddd;
  width: 30%;
  cursor: pointer;
  position: absolute;
  transition: all 0.4s;
  bottom: 20px;
  min-width: 20px;
}

.light .panel {
  background-color: #edebf8;
}
.light .panel__title h3 {
  color: black;
}
.light .panel__portfolio {
  background-color: #dddbe7 !important;
}
.light .panel__portfolio td:nth-child(1),
.light .panel__portfolio td:nth-child(2),
.light .panel__portfolio td:nth-child(4) {
  color: #3a1414 !important;
}
.light .panel__list li {
  background-color: #dddbe7;
}
.light .panel__fullname h4,
.light .panel__list-change h4,
.light .panel__bottom-title h3,
.light .panel__value {
  color: #3a1414 !important;
}

.light .leftbar {
  background-color: #e2e1e8;
}
.light .leftbar__menu li {
  fill: #999eaf;
}

.light .stockChart {
  background-color: #dddbe7;
}
.light .stockChart__price {
  color: #3a1414;
}

.light .errorMsg p {
  color: #3a1414;
}

.light .alertMessage {
  background-color: white !important;
  color: #3a1414;
}
.light .alertMessage h2 {
  color: #3a1414;
}

.panel {
  background-color: var(--primary);
  /* background-color: #222831; */
  width: 95%;
  height: 100%;
  padding: 3%;
  padding-top: 2%;
  transition: all 0.4s;
}
@media only screen and (max-width: 600px) {
  .panel {
    width: 100%;
  }
  .panel .panel__container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    height: 40%;
    margin-bottom: 50px;
  }
  .panel .panel__topCharts {
    height: 100%;
    width: 100%;
    min-height: 200px;
  }
}
@media only screen and (max-width: 600px) and (max-width: 1200px) {
  .panel .panel__topCharts {
    justify-content: space-between;
  }
}
@media only screen and (max-width: 600px) {
  .panel .panel__top {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    max-height: 380px;
  }
}
@media only screen and (max-width: 600px) and (max-width: 1200px) {
  .panel .panel__top {
    width: 100%;
  }
}
@media only screen and (max-width: 600px) {
  .panel .panel__top .panel__title {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100%;
  }
  .panel .panel__top .panel__title div:nth-child(1) {
    width: 73%;
  }
}
@media only screen and (max-width: 600px) and (max-width: 1050px) {
  .panel .panel__top .panel__title div:nth-child(1) {
    width: 53%;
  }
}
@media only screen and (max-width: 600px) and (max-width: 1050px) {
  .panel .panel__top .panel__title div:nth-child(2) {
    display: none !important;
  }
}
@media only screen and (max-width: 600px) {
  .panel .panel__top .panel__title h2 {
    margin: 10px 0;
  }
  .panel .panel__top .panel__title .panel__popular {
    width: 3%;
    min-width: 20px;
    margin-right: 10px;
  }
}

.panel__title {
  /* display: flex;
  align-items: center;
  flex-direction: row; */
  width: 100%;
}
@media screen and (min-width: 600px) {
  .panel__title {
    /* display: flex;
    align-items: center;
    flex-direction: row; */
    width: 15vw;
  }
}

.panel__status {
  position: absolute;
  bottom: 105px;
  transform: rotate(-90deg);
  white-space: nowrap;
}
@media only screen and (max-height: 530px) {
  .panel__status {
    display: none;
  }
}
@media only screen and (max-width: 600px) {
  .panel__status {
    display: none;
  }
}

.stockChart {
  background-color: #30475e;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.07);
  width: 100%;
  flex-direction: row;
  position: relative;
  display: flex;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 20px;
  min-width: 250px;
  height: 100%;
  cursor: pointer;
}
.stockChart h5 {
  color: #dddddd;
}
.stockChart h5 svg {
  fill: #dddddd;
  width: 20%;
}

.chartLink {
  margin-right: 4.5%;
  width: 33%;
}
@media only screen and (max-width: 1050px) {
  .chartLink {
    width: 50%;
  }
  .chartLink:nth-child(2) {
    margin-right: 0;
  }
}
@media only screen and (max-width: 700px) {
  .chartLink:nth-child(2) {
    display: none;
  }
  .chartLink:nth-child(1) {
    width: 100%;
    margin: 0;
  }
}

.panel__portfolio-title {
  width: 5.5%;
  fill: var(--svgFill);
  margin-right: 10px;
  min-width: 20px;
}

.panel__portfolio-section {
  width: 100%;
  /* width: 30%; */
  height: 100%;
  min-width: 250px;
}
@media only screen and (max-width: 850px) {
  .panel__portfolio-section {
    width: 100%;
  }
}
.panel__portfolio-section .panel__portfolio {
  /* margin-right: 50px; */
  /* justify-content: center; */
  display: flex;
  align-items: center;
  width: 100%;
  min-width: 100px;
  border-radius: 5px;
  background-color: var(--secondary);
  /* background-color: #30475e; */
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.07);
  color: #dddddd;
  height: 100%;
  min-height: 10rem;
  margin-bottom: 20px;
  position: relative;
  padding: 10px 20px;
}
.panel__portfolio-section .panel__portfolio svg {
  fill: #dddddd;
  width: 20%;
}
.panel__portfolio-section .panel__portfolio .panel__portfolio-list {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-size: 10px;
  border-spacing: 0 10px;
  white-space: nowrap;
}
.panel__portfolio-section
  .panel__portfolio
  .panel__portfolio-list
  tr:nth-child(1) {
  color: #dddddd;
}
.panel__portfolio-section .panel__portfolio .panel__portfolio-list td {
  text-align: center;
  color: white;
  font-size: 13px;
}
.panel__portfolio-section
  .panel__portfolio
  .panel__portfolio-list
  tr
  td:nth-child(3) {
  font-weight: bold;
}
.panel__portfolio-section .panel__value {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 10px;
  width: 90%;
  color: white;
}
.panel__portfolio-section .panel__value:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  bottom: 50px;
  border-bottom: 1px solid #222831;
  box-shadow: 0px 0px 30px 0px rgba(94, 181, 248, 0.3);
}

.errorMsg {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-weight: bold;
  color: white;
  margin: auto;
}
.errorMsg svg {
  fill: #222831 !important;
}

.stockChart__chart {
  width: 100%;
  height: 40%;
  position: absolute;
  top: 40px;
  cursor: pointer;
}

.stockChart__info {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 30px;
  align-items: center;
}
.stockChart__info h4 {
  margin: 5px 0;
}
.stockChart__info .stockChart__price {
  font-weight: 400;
}

.stockChart__name {
  color: #fefdff !important;
  margin: 0;
  background: linear-gradient(to right, #7c83ff 30%, #7cc1ff 100%);
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.2);
  width: 90px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  color: white;
}

.stockChart__price {
  margin: 0;
}

.stockChart__price-info {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}

.stockChart__change {
  font-weight: 400;
}

@media only screen and (max-height: 450px) {
  .leftbar__menu {
    margin-top: 80px;
  }
}

.leftbar__menu,
.panel__list {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0;
  font-weight: 800;
}
.leftbar__menu svg,
.panel__list svg {
  width: 40%;
  min-width: 23px;
  margin-bottom: -7px;
}
.leftbar__menu li,
.panel__list li {
  fill: #dddddd;
  display: flex;
  white-space: nowrap;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: 30%;
  color: #dddddd;
  transition: all 0.4s;
}
.leftbar__menu li:hover,
.panel__list li:hover {
  fill: #222831 !important;
}

.panel__low {
  display: flex;
  flex-direction: column;
  height: 45%;
  width: 100%;
  position: relative;
}
@media only screen and (max-height: 500px) {
  .panel__low {
    display: none;
  }
}
.panel__low .errorMsg svg {
  width: 13%;
}

.panel__bottom {
  display: flex;
  justify-content: space-between;
  min-height: 150px;
}
@media only screen and (max-height: 570px) {
  .panel__bottom {
    min-height: 80px;
  }
}

.panel__top-title {
  display: flex;
  width: 100%;
  align-items: center;
}

.panel__bottom-title {
  display: flex;
  width: 100%;
  align-items: center;
}
@media screen and (min-width: 770px) {
  .panel__bottom-title {
    width: 15vw;
  }
}

@media only screen and (max-height: 570px) {
  .panel__bottom-title {
    margin-top: 30px;
  }
  .panel__bottom-title h3 {
    margin-bottom: 12px;
  }
}
.panel__bottom-title svg {
  width: 2%;
  min-width: 30px;
  margin-right: 10px;
  fill: var(--svgFill);
}

.panel__stockList {
  width: 30%;
  min-width: 300px;
  display: flex;
  align-items: flex-start;
}
@media only screen and (max-width: 1000px) and (min-width: 770px) {
  .panel__stockList {
    justify-content: space-between;
    min-width: 0;
  }
}
@media only screen and (max-width: 850px) {
  .panel__stockList:nth-child(3) {
    display: none;
  }
  .panel__stockList:nth-child(1),
  .panel__stockList:nth-child(2) {
    width: 48%;
  }
}
@media only screen and (max-width: 720px) {
  .panel__stockList:nth-child(1),
  .panel__stockList:nth-child(2) {
    min-width: 50px;
  }
}

.panel__list {
  width: 100%;
  margin: 0;
}
.panel__list a {
  padding: 10px; /*hehe*/
  color: white;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
.panel__list .panel__fullname {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.panel__list .panel__fullname h4 {
  margin: 0;
  margin-bottom: 5px;
}
.panel__list .panel__fullname h6 {
  margin: 0;
}
.panel__list .panel__name {
  color: #dddddd;
}
.panel__list .panel__list-change {
  display: flex;
  margin: 0;
  align-items: flex-end;
  flex-direction: column;
}
.panel__list .panel__list-change h4 {
  margin: 0;
}
.panel__list li {
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
  width: 100%;
  margin: 8px;
  /* padding: 10px 10px; */
  background-color: var(--secondary);
  /* background-color: #30475e; */
  color: #fefdff;
}
.panel__list li:hover {
  box-shadow: 3px 3px var(--tertiary);
}
@media only screen and (max-height: 650px) {
  .panel__list li:last-child {
    display: none;
  }
}
@media only screen and (max-height: 570px) {
  .panel__list li:nth-child(2) {
    display: none;
  }
}
.panel__list li span {
  display: flex;
  align-items: center;
}
.panel__list li span img {
  margin-right: 10px;
  width: 15%;
  height: 15%;
}
.light .topbar__name {
  color: #3a1414;
}

.light .topbar__searchbar input {
  color: #999eaf;
}

.light .topbar__results {
  background-color: #edebf8 !important;
  border-color: #edebf8 !important;
  border-top: 40px solid #edebf8 !important;
}
.light .topbar__results li h4 {
  color: #3a1414;
}
.light .topbar__results li:hover {
  background-color: #dddbe7 !important;
}

.light .mobileMenu {
  background-color: #edebf8;
}

.light .hamburger__inner {
  background-color: #3a1414 !important;
}
.light .hamburger__inner:after,
.light .hamburger__inner:before {
  background-color: #3a1414 !important;
}

.hamburger {
  padding: 15px;
  cursor: pointer;
  display: none;
  overflow: hidden;
  background-color: transparent;
  z-index: 100;
}
@media only screen and (max-width: 600px) {
  .hamburger {
    display: inline-block;
  }
}

.hamburger__container {
  width: 36px;
  height: 24px;
  position: relative;
}

.hamburger:hover .hamburger__inner {
  transform: translate(-51px, 50%);
  opacity: 0;
}
.hamburger:hover .hamburger__inner::before,
.hamburger:hover .hamburger__inner::after {
  transform: translate(102px, 0);
  opacity: 0;
}

.hamburger.is-active .hamburger__inner {
  display: none;
}

.hamburger__inner {
  width: 100%;
  height: 2px;
  background-color: #fff;
  border-radius: 4px;
  position: absolute;
  transition-property: transform, opacity;
  transition-timing-function: ease;
  transition-duration: 0.4s;
  top: 50%;
  transform: translate(5px, -50%);
  opacity: 1;
}
.hamburger__inner::before,
.hamburger__inner::after {
  width: 100%;
  height: 2px;
  background-color: #fff;
  border-radius: 4px;
  position: absolute;
  transition-property: transform, opacity;
  transition-timing-function: ease;
  transition-duration: 0.4s;
  content: "";
  opacity: 1;
  transform: translate(-5px, 0);
}
.hamburger__inner::before {
  top: -13px;
}
.hamburger__inner::after {
  top: 13px;
}

.hamburger:hover .hamburger__hidden {
  opacity: 1;
  transform: translate(0, -50%);
}
.hamburger:hover .hamburger__hidden::before,
.hamburger:hover .hamburger__hidden::after {
  opacity: 1;
  transform: translate(0, 0);
}

.hamburger.is-active .hamburger__hidden {
  opacity: 1;
  transform: rotate(45deg);
}
.hamburger.is-active .hamburger__hidden::before {
  transform: translate(0, 13px) rotate(90deg);
  transform-origin: center;
}
.hamburger.is-active .hamburger__hidden::after {
  transform-origin: center;
  transform: translate(0, -13px) rotate(0);
}

.hamburger__hidden {
  opacity: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
  border-radius: 4px;
  position: absolute;
  transition-property: transform, opacity;
  transition-timing-function: ease;
  transition-duration: 0.4s;
  background-color: #222831;
  top: 50%;
  transform: translate(51px, -50%);
}
.hamburger__hidden::before,
.hamburger__hidden::after {
  width: 100%;
  height: 2px;
  background-color: #fff;
  border-radius: 4px;
  position: absolute;
  transition-property: transform, opacity;
  transition-timing-function: ease;
  transition-duration: 0.4s;
  background-color: #222831;
  content: "";
  transform: translate(102px, 0);
}
.hamburger__hidden::before {
  top: -13px;
}
.hamburger__hidden::after {
  top: 13px;
}

.topbar {
  width: 100%;
  height: 7vh;
  display: flex;
  align-items: center;
  /* justify-content: space-between;  here*/
  margin-bottom: 35px;
}
.topbar__name {
  font-weight: 800;
}
.topbar__user {
  bottom: 20px;
  white-space: nowrap;
  font-size: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.topbar__bottom {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}
.topbar__dev {
  padding: 10px;
  background: #dddddd;
  border-radius: 10px;
  box-shadow: 0px 0px 15px 0px #dddddd;
  margin-right: 20px;
  display: flex;
  transition: all 0.4s;
  user-select: none;
  cursor: pointer;
  font-weight: bold;
}
.topbar__dev h4 {
  margin: 0;
}
.topbar__power {
  padding: 10px;
  background-color: var(--tertiary);
  /* background-color: #30475e; */
  border-radius: 10px;
  margin-right: 20px;
  display: flex;
  align-items: center;
  transition: all 0.4s;
  user-select: none;
}
.topbar__power:hover {
  box-shadow: 3px 3px #ddd;
  cursor: pointer;
}
.topbar__power svg {
  fill: white;
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
.topbar__power h3 {
  color: #fefdff;
  margin: 0;
}
.topbar__container {
  display: flex;
  align-items: center;
}

.topbar__searchbar {
  display: flex;
  flex-direction: column;
  border-radius: 50px;
  margin-right: 80px;
  display: flex;
  align-items: flex-start;
  padding: 0 20px;
  position: relative;
  z-index: 10;
  height: 45px;
  justify-content: center;
  transition: 0.4s all;
  width: 40%;
  border: solid 1px #ddd;
}
@media only screen and (max-width: 800px) {
  .topbar__searchbar {
    width: 60%;
  }
}
@media only screen and (max-width: 600px) {
  .topbar__searchbar {
    display: none;
  }
}
.topbar__searchbar .topbar__results {
  transition: all 0.4s;
  position: absolute;
  left: 0;
  width: 100%;
  flex-direction: column;
  background-color: #222831;
  z-index: -1;
  padding: 0;
  top: 0;
  border: 15px solid #222831;
  border-top: 40px solid #222831;
  border-radius: 5px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  display: none;
}
.topbar__searchbar .topbar__results li {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 15px;
  border-radius: 10px;
  transition: all 0.4s;
}
.topbar__searchbar .topbar__results li a {
  color: white;
  width: 100%;
}
.topbar__searchbar .topbar__results li h4,
.topbar__searchbar .topbar__results li h6 {
  margin: 5px 0;
}
.topbar__searchbar .topbar__results li h6 {
  color: #dddddd;
  text-align: left;
}
.topbar__searchbar .topbar__results li:hover {
  color: #222831;
  background-color: #30475e;
  cursor: pointer;
}
.topbar__searchbar svg {
  height: 15px;
  fill: #dddddd;
}
.topbar__searchbar input {
  height: 30px;
  background-color: transparent;
  color: #dddddd;
  padding: 10px;
  font-weight: bold;
  font-size: 16px;
  width: 100%;
}

.mobileMenu {
  width: 100%;
  position: absolute;
  background-color: #222831;
  height: 100%;
  z-index: 50;
  display: none;
  left: -100%;
  transition: all 0.3s;
  justify-content: center;
  align-items: center;
  bottom: 0;
}
.mobileMenu .leftbar {
  display: flex;
  background-color: transparent;
  height: 100%;
}
.mobileMenu .leftbar svg {
  min-width: 50px;
}
.mobileMenu .leftbar__logo {
  min-width: 80px;
}

/* Grid */

.authcontainer {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.row {
  position: relative;
  width: 100%;
}
.row [class^="col"] {
  float: left;
  margin: 0.5rem 2%;
  min-height: 0.125rem;
}
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  width: 96%;
}
.col-1-sm {
  width: 4.33%;
}
.col-2-sm {
  width: 12.66%;
}
.col-3-sm {
  width: 21%;
}
.col-4-sm {
  width: 29.33%;
}
.col-5-sm {
  width: 37.66%;
}
.col-6-sm {
  width: 46%;
}
.col-7-sm {
  width: 54.33%;
}
.col-8-sm {
  width: 62.66%;
}
.col-9-sm {
  width: 71%;
}
.col-10-sm {
  width: 79.33%;
}
.col-11-sm {
  width: 87.66%;
}
.col-12-sm {
  width: 96%;
}
.row::after {
  content: "";
  display: table;
  clear: both;
}
.hidden-sm {
  display: none;
}

@media only screen and (min-width: 33.75em) {
  /* 540px */
  .authcontainer {
    width: 40%;
  }
}

@media only screen and (min-width: 45em) {
  /* 720px */
  .col-1 {
    width: 4.33%;
  }
  .col-2 {
    width: 12.66%;
  }
  .col-3 {
    width: 21%;
  }
  .col-4 {
    width: 29.33%;
  }
  .col-5 {
    width: 37.66%;
  }
  .col-6 {
    width: 46%;
  }
  .col-7 {
    width: 54.33%;
  }
  .col-8 {
    width: 62.66%;
  }
  .col-9 {
    width: 71%;
  }
  .col-10 {
    width: 79.33%;
  }
  .col-11 {
    width: 87.66%;
  }
  .col-12 {
    width: 96%;
  }
  .hidden-sm {
    display: block;
  }
}

@media only screen and (min-width: 60em) {
  /* 960px */
  .authcontainer {
    width: 30%;
    max-width: 60rem;
  }
}

/* Forms */

label {
  display: block;
  margin: 5px 0;
  color: var(--custom-color-secondary);
  font-size: 0.8rem;
  text-transform: uppercase;
}

.supa input {
  width: 100%;
  border-radius: 5px;
  border: var(--custom-border);
  padding: 8px;
  font-size: 0.9rem;
  background-color: var(--custom-bg-color);
  color: var(--custom-color);
}

input[disabled] {
  color: var(--custom-color-secondary);
}

/* Utils */

.block {
  display: block;
  width: 100%;
}
.inline-block {
  display: inline-block;
  width: 100%;
}
.flex {
  display: flex;
}
.flex.column {
  flex-direction: column;
}
.flex.row {
  flex-direction: row;
}
.flex.flex-1 {
  flex: 1 1 0;
}
.flex-end {
  justify-content: flex-end;
}
.flex-center {
  justify-content: center;
}
.items-center {
  align-items: center;
}
.text-sm {
  font-size: 0.8rem;
  font-weight: 300;
}
.text-right {
  text-align: right;
}
.font-light {
  font-weight: 300;
}
.opacity-half {
  opacity: 50%;
}

/* Button */

button,
.button {
  color: var(--custom-color);
  border: var(--custom-border);
  background-color: var(--custom-bg-color);
  display: inline-block;
  text-align: center;
  border-radius: var(--custom-border-radius);
  padding: 0.5rem 1rem;
  cursor: pointer;
  text-align: center;
  font-size: 0.9rem;
  text-transform: uppercase;
}

button.primary,
.button.primary {
  background-color: var(--custom-color-brand);
  border: 1px solid var(--custom-color-brand);
}

/* Widgets */

.card {
  width: 100%;
  display: block;
  border: var(--custom-border);
  border-radius: var(--custom-border-radius);
  padding: var(--custom-spacing);
}

.avatar {
  border-radius: var(--custom-border-radius);
  overflow: hidden;
  max-width: 100%;
}
.avatar.image {
  object-fit: cover;
}
.avatar.no-image {
  background-color: #333;
  border: 1px solid rgb(200, 200, 200);
  border-radius: 5px;
}

.footer {
  position: absolute;
  max-width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-flow: row;
  border-top: var(--custom-border);
  background-color: var(--custom-bg-color);
}
.footer div {
  padding: var(--custom-spacing);
  display: flex;
  align-items: center;
  width: 100%;
}
.footer div > img {
  height: 20px;
  margin-left: 10px;
}
.footer > div:first-child {
  display: none;
}
.footer > div:nth-child(2) {
  justify-content: left;
}

@media only screen and (min-width: 60em) {
  /* 960px */
  .footer > div:first-child {
    display: flex;
  }
  .footer > div:nth-child(2) {
    justify-content: center;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.mainHeader {
  width: 100%;
  font-size: 1.3rem;
  margin-bottom: 20px;
}

.avatarPlaceholder {
  border: var(--custom-border);
  border-radius: var(--custom-border-radius);
  width: 35px;
  height: 35px;
  background-color: rgba(255, 255, 255, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Auth */

.auth-widget {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.auth-widget > .button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: #444444;
  text-transform: none !important;
  transition: all 0.2s ease;
}

.auth-widget .button:hover {
  background-color: #2a2a2a;
}

.auth-widget .button > .loader,
.account .button > .loader {
  width: 17px;
  animation: spin 1s linear infinite;
  filter: invert(1);
}

/* Account */

.account {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.account > * > .avatarField {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.account > * > .avatarField > .avatarContainer {
  margin-right: 20px;
}

/* Profile Card */

.profileCard {
  border-radius: 5px;
  display: flex;
  border: var(--custom-border);
  background-color: var(--custom-panel-color);
  padding: 20px 20px;
  margin-bottom: 20px;
}

.profileCard:last-child {
  margin-bottom: 0px;
}

.profileCard > .userInfo {
  margin-left: 20px;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.profileCard > .userInfo > p {
  margin: 0;
}

.profileCard > .userInfo > .username {
  font-size: 1.3rem;
  font-weight: 500;
  margin-bottom: 5px;
}

.profileCard > .userInfo > .website {
  font-size: 0.9rem;
  color: var(--custom-color-brand);
  margin-bottom: 10px;
  text-decoration: none;
}

/*stocks.css*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

@keyframes show-popup {
  0% {
    -webkit-transform: translate(-50%, -50%) scale(0.7);
    transform: translate(-50%, -50%) scale(0.7);
    opacity: 0;
  }
  45% {
    -webkit-transform: translate(-50%, -50%) scale(1.05);
    transform: translate(-50%, -50%) scale(1.05);
    opacity: 1;
  }
  80% {
    -webkit-transform: translate(-50%, -50%) scale(0.95);
    transform: translate(-50%, -50%) scale(0.95);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1);
  }
}

.light .stockPage {
  background-color: #edebf8;
}
.light .stockPage__keyStats h3 {
  color: #3a1414;
}
.light .stockPage__timers h6 {
  background-color: #dddbe7 !important;
  color: #3a1414;
}
.light .stockPage__timers h6:hover {
  background-color: #999eaf !important;
}
.light .stockPage .active {
  background-color: #999eaf !important;
}
.light .stockPage__trade-top h2,
.light .stockPage__trade h5 {
  color: #3a1414;
}
.light .stockPage__buy-input {
  background-color: #dddbe7 !important;
  border: 1px #dddbe7 solid !important;
  color: #3a1414 !important;
}

.light .article {
  background-color: #dddbe7 !important;
}
.light .article:hover {
  box-shadow: 3px 3px #ddd;
}
.light .article__content {
  color: #3a1414;
}
.light .article__top h6 {
  color: #999eaf;
}

.light .Key-info__info h4 {
  color: #3a1414 !important;
}

.light .Key-info__info h3 {
  color: #222831 !important;
}

.light .buyConfirmation {
  background-color: white !important;
}
.light .buyConfirmation h3 {
  color: #3a1414 !important;
}

.stock {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.stockPage {
  width: 97%;
  padding: 3%;
  padding-top: 2%;
  display: flex;
  flex-direction: column;
}
@media only screen and (max-width: 600px) {
  .stockPage {
    width: 100%;
  }
}
.stockPage .loader {
  margin: 100px auto;
}

.stockPage__top {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  height: 45%;
}

@media only screen and (max-width: 900px) {
  .stockPage__top {
    height: 60%;
  }
}

.Chart {
  width: 80%;
  height: 35vh;
  padding: 10px;
  position: relative;
}
@media only screen and (max-width: 900px) {
  .Chart {
    width: 100%;
    height: 80%;
  }
}
@media only screen and (max-width: 900px) {
  .Chart {
    width: 100%;
    height: 70%;
  }
}
.Chart__info {
  width: 100%;
}
.Chart__timers {
  position: absolute;
  top: -20px;
  right: 20px;
  color: white;
  transition: all 0.5s;
  cursor: pointer;
  display: flex;
}
.Chart__timers h6 {
  padding: 5px 10px;
  border-radius: 10px;
  background-color: var((--primary));
  margin: 0 3px;
  transition: all 0.5s;
}
.Chart__timers h6:hover {
  background-color: var(--tertiary);
}
.Chart__timers .active {
  background-color: var(--tertiary);
}

.stockPage__trade {
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  border-radius: 8px;
  flex-direction: column;
  position: relative;
}
@media only screen and (max-width: 900px) {
  .stockPage__trade .stockPage__buy-container {
    position: absolute;
    right: 10px;
    bottom: 20px;
  }
}
@media only screen and (max-width: 400px) {
  .stockPage__trade .stockPage__buy-container {
    width: 50%;
  }
  .stockPage__trade .stockPage__buy-container input,
  .stockPage__trade .stockPage__buy-container button {
    font-size: 9px;
  }
}
@media only screen and (max-width: 900px) {
  .stockPage__trade {
    flex-direction: row;
    height: auto;
    width: 100%;
  }
}
.stockPage__trade h5 {
  color: white;
  font-weight: 400;
}
@media only screen and (max-width: 900px) {
  .stockPage__trade h5 {
    display: none;
  }
}
.stockPage__trade h2 {
  font-weight: 400;
}
.stockPage__trade h4 {
  color: #dddddd;
  margin: 0;
}
.stockPage__trade h6 {
  margin-top: -20px;
  margin: 0;
  color: #dddddd;
}
@media only screen and (max-width: 900px) {
  .stockPage__trade h6 {
    margin-left: 20px;
  }
}
.stockPage__trade .stockPage__trade-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 20px;
}
@media only screen and (max-width: 900px) {
  .stockPage__trade .stockPage__trade-top {
    width: auto;
  }
}
.stockPage__trade .stockPage__trade-top h2 {
  margin: 0;
  margin-bottom: 10px;
}
.stockPage__trade .stockPage__trade-top h6 {
  margin-left: 10px;
  white-space: nowrap;
}
.stockPage__trade .stockPage__buy-input {
  background-color: var(--secondary);
  color: white;
  padding: 10px;
  font-weight: bold;
  border-radius: 5px;
  border: 1px solid #222831;
  margin-right: 7px;
  width: 70%;
  transition: all 0.5s;
  letter-spacing: 1px;
}
.stockPage__trade .stockPage__buy-input:hover,
.stockPage__trade .stockPage__buy-input:focus {
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
}

.stockPage__buy-button {
  padding: 10px;
  background-color: var(--secondary);
  color: white;
  font-weight: bold;
  transition: all 0.5s;
  border-radius: 5px;
}
.stockPage__buy-button:hover {
  box-shadow: 3px 3px var(--tertiary);
}
.stockPage__buy-button:nth-child(1) {
  margin-right: 20px;
}

.stockPage__sell-button {
  padding: 10px;
  background-color: #ddd;
  color: #30475e;
  font-weight: bold;
  transition: all 0.5s;
  border-radius: 5px;
}
.stockPage__sell-button:hover {
  box-shadow: 3px 3px #ddd;
}
.stockPage__sell-button:nth-child(1) {
  margin-right: 20px;
}

.cancel {
  background: var(--secondary);
}
.cancel:hover {
  box-shadow: 3px 3px #ddd;
}

.stockPage__keyStats {
  width: 100%;
  height: 55%;
  display: flex;
}
@media only screen and (max-width: 900px) {
  .stockPage__keyStats {
    height: 40%;
  }
}
.stockPage__keyStats .stockPage__headings {
  display: flex;
  justify-content: space-between;
}
.stockPage__keyStats .stockPage__headings h3:nth-child(2) {
  margin-right: 200px;
}
.stockPage__keyStats .Key-info {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
@media only screen and (max-width: 750px) {
  .stockPage__keyStats .Key-info {
    width: 100%;
  }
}
@media only screen and (max-width: 900px) {
  .stockPage__keyStats .Key-info h3 {
    margin-bottom: 0;
  }
}
.stockPage__keyStats .Key-info .Key-info__columns {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
}
.stockPage__keyStats .Key-info .Key-info__label {
  font-weight: 400;
}
.stockPage__keyStats .Key-info .Key-info__info {
  width: 33%;
}
@media only screen and (max-width: 600px) {
  .stockPage__keyStats .Key-info .Key-info__info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
.stockPage__keyStats .Key-info .Key-info__info h3 {
  color: white;
}
.stockPage__keyStats .Key-info h4 {
  margin: 25px 0;
  color: #dddddd;
}
@media only screen and (max-width: 900px) {
  .stockPage__keyStats .Key-info h4 {
    margin: 10px 0;
  }
}
@media only screen and (max-height: 550px) {
  .stockPage__keyStats .Key-info h4 {
    margin: 10px 0;
  }
}
.stockPage__keyStats h3 {
  color: #dddddd;
  display: flex;
  align-items: center;
  width: 100%;
}
@media only screen and (max-width: 600px) {
  .stockPage__keyStats h3 {
    width: auto;
  }
}
.stockPage__keyStats h3 svg {
  width: 30px;
  margin-right: 10px;
  fill: var(--svgFill);
}
.stockPage__keyStats .news {
  width: 50%;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.stockPage__keyStats .news__articles {
  margin-top: -15px;
  position: relative;
}
@media only screen and (max-width: 900px) {
  .stockPage__keyStats .news__articles a:last-child {
    display: none;
  }
}
@media only screen and (max-height: 650px) {
  .stockPage__keyStats .news__articles a:last-child {
    display: none;
  }
}
@media only screen and (max-width: 750px) {
  .stockPage__keyStats .news {
    display: none;
  }
}
@media only screen and (max-height: 480px) {
  .stockPage__keyStats .news a:nth-child(2) {
    display: none;
  }
}
.stockPage__keyStats .news__nothing {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column;
  width: 100%;
}
.stockPage__keyStats .news__nothing h3 {
  width: auto;
}
.stockPage__keyStats .news__nothing svg {
  width: 30%;
  height: 30%;
  fill: var(--svgFill);
}
.stockPage__keyStats .news .article {
  width: 100%;
  background-color: #30475e;
  padding: 5px 15px;
  display: flex;
  margin: 15px 0;
  cursor: pointer;
  transition: all 0.3s;
  position: relative;
  min-height: 80px;
  height: auto;
  border-radius: 10px;
}
.stockPage__keyStats .news .article h4 {
  margin: 0;
  max-width: 90%;
}
.stockPage__keyStats .news .article h6 {
  margin: 0 10px;
  white-space: nowrap;
  position: absolute;
  right: 10px;
  top: 10px;
  color: #dddddd;
}
.stockPage__keyStats .news .article h5 {
  font-weight: 400;
  margin: 5px 0;
  text-overflow: ellipsis; /*edit */
}
.stockPage__keyStats .news .article__image {
  min-width: 80px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin-right: 20px;
  max-width: 80px;
}
@media only screen and (max-width: 900px) {
  .stockPage__keyStats .news .article__image {
    min-width: 40px;
    margin-right: 10px;
  }
}
.stockPage__keyStats .news .article__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.stockPage__keyStats .news .article:hover {
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.15);
}

.wrongSymbol {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
}
.wrongSymbol h1 {
  color: #dddddd;
  text-transform: uppercase;
  letter-spacing: 5px;
  margin-bottom: 100px;
}
.wrongSymbol .topbar__searchbar {
  width: 33%;
  margin: 0;
}
.wrongSymbol a {
  color: #222831;
}
.wrongSymbol h3 {
  margin: 0;
}

.buyConfirmation {
  width: 50%;
  height: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 101;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  background-color: #222831;
  animation: show-popup 0.3s;
  text-align: center;
}
.buyConfirmation h3 {
  font-weight: 400;
}

.black-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 100;
}

@media (max-width: 1380px) {
  .stock {
    flex-direction: column;
  }
}

.allStocks {
  width: 100%;
  display: flex;
}

/* placeholder css */
.ph-item {
  background-color: #fff;
  border: 1px solid #e6e6e6;
  border-radius: 2px;
  direction: ltr;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
  overflow: hidden;
  padding: 30px 15px 15px;
  position: relative;
}
.ph-item,
.ph-item *,
.ph-item :after,
.ph-item :before {
  box-sizing: border-box;
}
.ph-item:before {
  -webkit-animation: ph-animation 0.8s linear infinite;
  animation: ph-animation 0.8s linear infinite;
  background: linear-gradient(
      90deg,
      hsla(0, 0%, 100%, 0) 46%,
      hsla(0, 0%, 100%, 0.35) 50%,
      hsla(0, 0%, 100%, 0) 54%
    )
    50% 50%;
  bottom: 0;
  content: " ";
  left: 50%;
  margin-left: -250%;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
  width: 500%;
  z-index: 1;
}
.ph-item > * {
  display: flex;
  flex: 1 1 auto;
  flex-flow: column;
  margin-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
}
.ph-row {
  display: flex;
  flex-wrap: wrap;
  margin-top: -7.5px;
}
.ph-row div {
  background-color: #ced4da;
  height: 10px;
  margin-top: 7.5px;
}
.ph-row .big,
.ph-row.big div {
  height: 20px;
}
.ph-row .empty {
  background-color: hsla(0, 0%, 100%, 0);
}
.ph-col-2 {
  flex: 0 0 16.6666666667%;
}
.ph-col-4 {
  flex: 0 0 33.3333333333%;
}
.ph-col-6 {
  flex: 0 0 50%;
}
.ph-col-8 {
  flex: 0 0 66.6666666667%;
}
.ph-col-10 {
  flex: 0 0 83.3333333333%;
}
.ph-col-12 {
  flex: 0 0 100%;
}
[class*="ph-col"] {
  direction: ltr;
}
[class*="ph-col"] > * + .ph-row {
  margin-top: 0;
}
[class*="ph-col"] > * + * {
  margin-top: 7.5px;
}
.ph-avatar {
  background-color: #ced4da;
  border-radius: 50%;
  min-width: 60px;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.ph-avatar:before {
  content: " ";
  display: block;
  padding-top: 100%;
}
.ph-picture {
  background-color: #ced4da;
  height: 120px;
  width: 100%;
}
@-webkit-keyframes ph-animation {
  0% {
    transform: translate3d(-30%, 0, 0);
  }
  to {
    transform: translate3d(30%, 0, 0);
  }
}
@keyframes ph-animation {
  0% {
    transform: translate3d(-30%, 0, 0);
  }
  to {
    transform: translate3d(30%, 0, 0);
  }
}

@keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}
.linear-background {
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background: var(--primary);
  background: linear-gradient(
    to right,
    var(--primary) 8%,
    var(--secondary) 18%,
    var(--primary) 33%
  );
  background-size: 1000px 104px;
  height: 100%;
  position: relative;
  overflow: hidden;

  border-radius: 10px;
}

.linear-background-dash {
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background: var(--primary);
  background: linear-gradient(
    to right,
    #49525d 8%,
    var(--primary) 18%,
    #49525d 33%
  );
  background-size: 1000px 104px;
  height: 100%;
  position: relative;
  overflow: hidden;

  border-radius: 10px;
}

/* * {
  transition: all 1000ms;
} */

/* portfolio */
.light .portfolio {
  background-color: #edebf8;
}
.light .portfolio__list tr {
  color: #3a1414;
  background-color: white;
}
.light .portfolio__list tr:nth-child(1):hover {
  background-color: white;
}
.light .portfolio__list tr:hover {
  background-color: #999eaf;
}

.portfolio {
  display: flex;
  width: 100%;
}
.portfolio .alertMessage {
  width: 30%;
  height: 20%;
  padding: 20px;
  min-height: 200px;
}
.portfolio__container {
  width: 95%;
  padding: 3%;
  padding-top: 2%;
  display: flex;
  flex-direction: column;
}
@media only screen and (max-width: 600px) {
  .portfolio__container {
    width: 100%;
  }
}
.portfolio__list {
  width: 100%;
  font-size: 15px;
  border-spacing: 0 0px;
  white-space: nowrap;
}
.portfolio__list tr {
  background-color: var(--secondary);
  height: 60px;
  transition: all 0.2s;
  margin-top: 10px;
  margin-bottom: 10px;
}
.portfolio__list tr:nth-child(1) th:nth-child(3) {
  display: none;
}
@media only screen and (max-width: 760px) {
  .portfolio__list tr {
    font-size: 12px;
  }
}
@media only screen and (max-width: 400px) {
  .portfolio__list tr {
    font-size: 9px;
  }
}
.portfolio__list tr:first-child th:first-child {
  border-top-left-radius: 15px;
}
.portfolio__list tr:first-child th:last-child {
  border-top-right-radius: 15px;
}
.portfolio__list tr:last-child td:first-child {
  border-bottom-left-radius: 15px;
}
.portfolio__list tr:last-child td:last-child {
  border-bottom-right-radius: 15px;
}
.portfolio__list td {
  text-align: center;
  padding: 10px;
}
@media only screen and (max-width: 500px) {
  .portfolio__list td {
    background-color: #30475e;
  }
}
.portfolio__list td:nth-child(3) {
  display: none;
  padding: 5px;
}
.portfolio__list tr:first-child:hover {
  background-color: #30475e;
}
.portfolio tr td:nth-child(5) {
  font-weight: bold;
}
.portfolio .errorMsg svg {
  width: 20%;
}

/* Loading */
.loading-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  font-size: 2rem;
}

.loading-screen .dot {
  position: relative;
  width: 2rem;
  height: 2rem;
  margin: 0.8em;
  border-radius: 50%;
}

.loading-screen .dot::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: inherit;
  border-radius: inherit;
  animation: anime 2s ease-out infinite;
}
@keyframes anime {
  50%,
  75% {
    transform: scale(2.5);
  }
  80%,
  100% {
    opacity: 0;
  }
}

.loading-screen .dot:nth-child(1) {
  /* background-color: #4285f5; */
  background-color: var(--tertiary);
}
.loading-screen .dot:nth-child(2) {
  /* background-color: #ea4436; */
  background-color: var(--tertiary);
}

.loading-screen .dot:nth-child(3) {
  /* background-color: #fbbd06; */
  background-color: var(--tertiary);
}

.loading-screen .dot:nth-child(4) {
  /* background-color: #34a952; */
  background-color: var(--tertiary);
}

.loading-screen .dot:nth-child(5) {
  /* background-color: #cf9fff; */
  background-color: var(--tertiary);
}
.loading-screen .dot:nth-child(1)::before {
  animation-delay: 0.2s;
}
.loading-screen .dot:nth-child(2)::before {
  animation-delay: 0.4s;
}
.loading-screen .dot:nth-child(3)::before {
  animation-delay: 0.6s;
}
.loading-screen .dot:nth-child(4)::before {
  animation-delay: 0.8s;
}
.loading-screen .dot:nth-child(5)::before {
  animation-delay: 1s;
}

.logoContainer {
  /* width: 10vw;
  height: 10vw; */
  width: 7rem;
  height: 7rem;
  align-self: center;
  margin-right: 10px;
  > div {
    position: unset !important;
  }

  .image {
    object-fit: contain;

    width: 100% !important;
    position: relative !important;
    height: unset !important;
  }
}
/* 
@media screen and (max-width: 600px) {
  .logoContainer {
    width: 200vw;
    height: 20vw;
  }
} */
